<div class="list-group">
    @foreach (var product in CartItems)
    {
        <a href="#" class="list-group-item list-group-item-action" style="width: 300px">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@product.Title</h5>
                <p>@product.Price kr</p>
            </div>
            <img style="height: 200px" class="mb-1" src="@product.Image" />
        </a>

    }
</div>

@code {
    [Parameter] public List<IProduct> CartItems { get; set; }

}