@page "/"

@inject IProductRepository productRepository
@inject IShoppingCart shoppingCart
@inject ICommandManager commandManger
@inject NavigationManager navigate

<div class="container">
    <div class="row justify-content-center m-5">
        <button class="btn btn-danger" @onclick="Undo">Undo</button>
        <i @onclick="NavigateToCart" style="font-size: 30px;" class="fas fa-shopping-cart mx-3 cart-icon">@shoppingCart.Cart.Count</i>
        <button class="btn btn-info" @onclick="Redo">Redo</button>
    </div>

    <div class="row justify-content-center">
        @foreach (var product in products)
        {
            <IndividualProduct Product="product" AddToCart="AddToCart" />
        }
    </div>
</div>

@code {

    private List<IProduct> products;

    protected override void OnInitialized()
    {
        products = productRepository.GetProducts();
    }

    private void AddToCart(IProduct product)
    {
        commandManger.Invoke(new AddToShoppingCartCommand(product, shoppingCart));
    }

    private void Undo()
    {
        commandManger.Undo();
    }

    private void Redo()
    {
        commandManger.Redo();
    }

    private void NavigateToCart()
    {
        navigate.NavigateTo("/cart");
    }

}