@inherits LayoutComponentBase
@inject IShoppingCart shoppingCart
@inject NavigationManager navigate

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <div class="main">
        <div class="top-row px-4 justify-content-between">
            <h3 class="home-icon" @onclick="NavigateToHome">OOPDesignPattern</h3>
            <i style="font-size: 30px;" class="fas fa-shopping-cart cart-icon" @onclick="NavigateToCart"></i>
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private void NavigateToCart()
    {
        navigate.NavigateTo("/cart");
    }

    private void NavigateToHome()
    {
        navigate.NavigateTo("/");
    }
}